<div class="container">
  <h1>{{ title }}</h1>
  <ul>
    <li *ngFor="let dado of dados">
      Digite o nivel de CO² em ppm: 
      <input type="text"> 
      <button (click)="enviarDados()">Enviar Dados</button>
      <button (click)="enviarDados()">Verificar Dados</button>
    </li>
  </ul>
</div>

<div class="container">
  <h1>{{ title }}</h1>
  <button (click)="enviarDados()">Enviar Dados</button>
  <ul>
    <li *ngFor="let dado of dados">
      Temperatura: {{ dado.temperatura }}°C, U'midade: {{ dado.umidade }}%
    </li>
  </ul>
</div>


